<div>
    <!-- @for(todo of todoItems(); track $index) {
        <p>{{todo.title}}</p>
    } -->
    <h1>Todos List</h1>

    <!-- <p *ngIf="!todoItems().length">Loading...</p> -->

    @if(!todoItems().length ) {
        <p>Loading...</p>
    }
    <ul>
        @for(todo of todoItems(); track todo.id) {
            <app-todo-item [todo]="todo" (todoToggled)="updateTodoItem($event)"  />
        }
    </ul>
    <div> 
        <input id="todo-input" type="text" (input)="onChange($event)" value="{{todoItemText()}}" /> 
        <button (click)="onSubmit()">Add</button>
    </div>
</div>
