<div>
    <!-- @for(todo of todoItems(); track $index) {
        <p>{{todo.title}}</p>
    } -->
    <h1>Todos List</h1>

    <!-- <p *ngIf="!todoItems().length">Loading...</p> -->

    @if(!todoItems().length ) {
        <p>Loading...</p>
    }

    <form class="filter-form">
        <label class="filter-form__label">Filter Todos</label>
        <input
            class="filter-form__input"
            name="searchTerm" 
            [(ngModel)]="searchTerm" 
            placeholder="Search todos..." 
        />
    </form>

    <ul>
        @for(todo of todoItems() | filterTodos: searchTerm(); track todo.id) {
            <app-todo-item [todo]="todo" (todoToggled)="updateTodoItem($event)"  />
        }
    </ul>
    <div> 
        <input id="todo-input" type="text" (input)="onChange($event)" value="{{todoItemText()}}" /> 
        <button (click)="onSubmit()">Add</button>
    </div>
</div>
